header {
    height: 120px;
}

/* Estilos para los botones de cartas */
.btncarta button{
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    transition: filter 0.3s ease;
}

.btncarta button:hover, .btncarta button:focus{
    filter: brightness(90%);
}

/* Estilos para el formulario */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #000000; 
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #474747; 
}

