body {
    margin: 0;
    padding: 0;
    font-family: Comic Sans, Comic Sans MS, cursive;
}

.imagenLogo {
    text-align: center;
    margin-bottom: 20px;
}

.imagenLogo img {
    max-width: 200px;
    max-height: 200px;
}

.formulario {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow:8px 8px #cfcfcf;
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.username,
.password {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 15px;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    box-shadow:8px 8px #555555;
}

button:hover {
    background-color: #7e0000;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}